* {
  background: #caf0f8;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.header1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #0077b6;
  height: 110px;
}
.nav {
  padding-right: 30px;
  background-color: #0077b6;
  align-items: center;
  display: flex;
}
.nav1 {
  font-weight: 300;
  letter-spacing: 2mm;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 30px;
  background-color: #0077b6;
}
.nav2 {
  color: #fff;
  background-color: #0077b6;
  font-weight: 100;
}
.nav2:hover {
  cursor: pointer;
  border-top: solid #fff 1px;
  border-bottom: solid #fff 1px;
  padding: 5px 10px;
  font-weight: 200;
  font-size: 14px;
}
.logo {
  background-color: #0077b6;
  height: 110px;
  padding-left: 40px;
}
.h2 {
  background-color: #0077b6;
  text-align: center;
}
.h3 {
  background-color: #0077b6;
  text-align: center;
}
