@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
.header1 {
  display: flex;
  justify-content: space-between;
  background-color: #0077b6;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navcontenedor {
  padding-right: 30px;
  background-color: #0077b6;
  align-items: center;
  display: flex;
}
.navcontenedor i {
  font-size: 36px;
  display: none;
}
#toggle-menu {
  display: none;
}
.nav1 {
  letter-spacing: 1mm;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 30px;
  background-color: #0077b6;
}
.nav2 {
  color: #212529;
  background-color: #0077b6;
  font-weight: 700;
}

.nav2:hover {
  cursor: pointer;
  border-top: solid #212529 2px;
  border-bottom: solid #212529 2px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
}
.logo {
  background-color: #0077b6;
  height: 70px;
  padding-left: 40px;
}
.main1 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: linear-gradient(to bottom, #212529, #000);
}
.section1 {
  display: flex;
  justify-content: center;
  padding: 3% 3%;
  width: 90%;
  background: linear-gradient(to right, #1488cc, #3a3e9b);
  border-radius: 18px;
  border: solid #929295 5px;
}
.divtexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
.divimagen {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.imgportada {
  height: 180px;
}

.h1portada {
  font-size: 38px;
  color: #212529;
  margin-top: 12px;
  font-weight: 800;
}
.h2portada {
  font-size: 35px;
  color: #212529;
}
.pportada {
  font-weight: 700;
  font-size: 20px;
  color: rgb(219, 208, 208);
  margin: 30px 0;
  max-width: 80%;
  border-radius: 10px;
}
.botonesportada {
  display: flex;
  gap: 30px;
}
.botonwhatssap {
  background: #212529;
  color: #1488cc;
  padding: 8px 35px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.logowhatsapp {
  height: 30px;
}
.botonleermas {
  background: #3e44ab;
  color: #212529;
  padding: 8px 68px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 90%;

  border-bottom: solid 1px rgb(249, 228, 228);
}

.divhola {
  border-radius: 18px;
  border: solid #929295 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background: linear-gradient(to right, #1488cc, #3a3e9b);
}
.pdescripcion {
  border-radius: 30px;
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
  color: rgb(219, 208, 208);
  margin: 50px;
  padding: 15px;
}

.nucba {
  color: #000;
}
/* section3 BENEFICIOS  ************************************************************************ */
.section3 {
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.divbeneficios {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 35px;
  border-radius: 18px;
  border: solid #929295 5px;
  background: linear-gradient(to right, #1488cc, #3a3e9b);
}
.h3yp {
  font-size: 31px;
  color: #0c0c0d;
  font-weight: 800;
}
.div3beneficios {
  width: 100%;
  max-height: 80%;
  display: flex;
  margin-top: 4%;
  gap: 24px;
}

.b1,
.b2,
.b3 {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;

  border-radius: 15px;
  width: 35%;
  max-height: 85%;
  background: #35356a;
  color: rgb(219, 208, 208);
  box-shadow: 15px 5px 9px #252526;
  border: solid #929295 2px;
  padding: 3%;
  font-weight: 600;
  font-size: 1rem;
  overflow: cover;
}
.divimgben {
  display: flex;
  justify-content: center;
  height: 40%;
}
.imgben {
  height: 100%;
  border-radius: 5%;
}
/*SECTION 4 ****************************************************************************************** */
.section4 {
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.divcontacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  border: solid #929295 5px;
  border-radius: 15px;
  background: linear-gradient(to right, #1488cc, #3a3e9b);
}
.divcontacto1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid #929295 2px;
  border-radius: 15px;
  height: 80%;
  width: 75%;
  background: #35356a;
  box-shadow: 15px 5px 9px #252526;
  padding: 1%;
}
.divcontacto2 {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h3contacto {
  font-size: 31px;
  color: #0c0c0d;
  font-weight: 800;
}
.h3ciudad {
  font-size: 24px;
  color: rgb(154, 147, 147);
  margin-bottom: 5%;
  font-weight: 800;
  margin-top: 1%;
}
.datosli {
  color: #0c0c0d;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  margin-bottom: 7px;
  width: 100%;
}
.imggps {
  height: 30px;
  margin-left: 5px;
  padding-right: 8px;
}
.imgemail {
  height: 20px;
  padding-right: 5px;
}
.imgcel {
  padding-right: 4px;
  height: 30px;
}
.divmaps {
  height: 60%;
  width: 30%;
  border: solid #929295 3px;
}
.divfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1488cc;
  padding: 15px;

  border-top: solid #929295 5px;
}
.pfooter {
  font-size: 17px;
  font-weight: 800;
  color: #000;
}
.htmlcssimg {
  height: 35px;
}
.htmlcss2 {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}
/*MEDIA QUERIES *********************************************************  992px*****         */
@media (max-width: 992px) {
  .divtexto h1 {
    text-align: center;
    width: 90%;
    align-items: center;
  }
  .h2portada {
    display: none;
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divtexto {
    align-items: center;
    width: 80%;
    max-width: 850px;
    padding: 30px 0;
    font-weight: 300;
    text-align: center;
  }

  .divtexto p {
    text-align: center;
    width: 100%;
    align-items: center;
    max-width: 80%;
    font-size: 22px;
  }
  .botonesportada {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .divimagen {
    display: none;
  }

  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .h3yp {
    font-size: 20px;
  }
  .divbeneficios {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .div3beneficios {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .b1,
  .b2,
  .b3 {
    width: 100%;
  }
  .imgben {
    display: none;
  }
  .divcontacto {
    width: 90%;
    border: none;
  }
  .divcontacto1 {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid #929295 8px;
  }

  .h3contacto {
    padding-top: 7%;
  }
  .divmaps {
    width: 70%;
    margin: 5%;
  }
}

/*MEDIA QUERIES *********************************************************  576px*****         */
@media (max-width: 576px) {
  .navcontenedor ul {
    background: #0077b6;
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(200%);
    transition: all 0.5s ease-out;
  }

  .navcontenedor i {
    display: block;
  }

  #toggle-menu:checked ~ .nav1 {
    transform: translateX(0%);
    transition: all 0.5s ease-in;
  }
  .h3contacto {
    font-size: 25px;
    padding-top: 20%;
  }
  .h3ciudad {
    padding-top: 7%;
    font-size: 17px;
  }

  .datosli {
    font-size: 20px;
    width: 100%;
  }
  .divmaps {
    width: 50%;
    margin: 5%;
  }
}
