@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
.header1 {
  display: flex;
  justify-content: space-between;
  background-color: #0077b6;
  height: 70px;
  width: 100%;
}
.nav {
  padding-right: 30px;
  background-color: #0077b6;
  align-items: center;
  display: flex;
}
.nav1 {
  letter-spacing: 1mm;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 30px;
  background-color: #0077b6;
}
.nav2 {
  color: #212529;
  background-color: #0077b6;
  font-weight: 700;
}
.nav2:hover {
  cursor: pointer;
  border-top: solid #212529 2px;
  border-bottom: solid #212529 2px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
}
.logo {
  background-color: #0077b6;
  height: 70px;
  padding-left: 40px;
}
.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #212529;
}
.section1 {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(to right, #1488cc, #3a3e9b);
  border-radius: 20px;
  margin-bottom: 50px;
}
.divtexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
.divimagen {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.imgportada {
  height: 180px;
}

.h1portada {
  font-size: 31px;
  color: #212529;
  margin-top: 12px;
}
.h2portada {
  font-size: 28px;
  color: #212529;
}
.pportada {
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  margin: 30px 0;
}
.botonesportada {
  display: flex;
  gap: 30px;
}
.botonwhatssap {
  background: #212529;
  color: #1488cc;
  padding: 8px 35px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.logowhatsapp {
  height: 30px;
}
.botonleermas {
  background: #3e44ab;
  color: #fff;
  padding: 8px 68px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 90%;

  border-top: solid 1px rgb(249, 228, 228);
  border-bottom: solid 1px rgb(249, 228, 228);
}

.divhola {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background: linear-gradient(to right, #1488cc, #3a3e9b);
}
.pdescripcion {
  border-radius: 30px;
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;

  color: #ececec;
  padding: 50px;
}

.nucba {
  color: #000;
